.custom-shape-divider-bottom-1714848548 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    border: none;
}

.custom-shape-divider-bottom-1714848548 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 371px;
    border: none;
}

.custom-shape-divider-bottom-1714848548 .shape-fill {
    fill: rgb(37, 58, 89);
    border: none;
    box-sizing: border-box;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content:space-between;
    background: linear-gradient(rgb(37, 58, 89), #ca9797, #9198e5);
   height: 100vh;
   width: 100%;
   padding-top: 9vh;
   border: none;
   scroll-snap-align: start;



   
}
.wrapper .content {
    z-index: 1;
}

.custom-shape-divider-bottom-1715093529 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1715093529 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 224px;
}

.custom-shape-divider-bottom-1715093529 .shape-fill {
    fill: rgb(37, 58, 89); 
   
}
.wrapper2{
    position: relative;
    
    background: linear-gradient(rgb(37, 58, 89), #ca9797, #9198e5);
   height: 100vh;
   padding-top:9vh;
   width: 100%;
   border: none;
   scroll-snap-align: start;


   
}
.wrapper2 .container{
    position: absolute;
    bottom: 45px;
    left: 10%;
    color: #fff;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content:space-between
}
.wrapper2 .container div{
    width: 45%;
}
.container .p{
    margin-bottom: 10px;margin-right: 20px;
    
}

.parent{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}


.parent::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit browsers (Chrome, Safari, etc.) */
}
h2{
  width: 0px;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    text-wrap: nowrap; 
    border-right: 2px solid #fff;
    animation: text-Animation 5s infinite;
    
}
.head_div{
    width:40%;
}


.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    margin: 30px;

}

@keyframes text-Animation {
    5%{
        width: 100px;
    }
    10%{
        width: 150px;
    }
    15%{
        width: 200px;
    }
    20%{
        width: 300px;
    }
    25%{
        width: 400px;
    }
    75%{
        width: 400px;
    }
}

.description{
font-size: 30px;
}
.cloud_img{
width: 40%;
height: 70%;
border-radius: 50%;
animation: img_animation 5s infinite;
}
.img_div{
    width: 50%;
    align-items: center;
    text-align: center;
}

@keyframes img_animation {
    25%{
        width: 45%;
    }
    50%{
        width: 60%;
    }
}

.nav
{   
    display: flex;
   justify-content: space-around;
    height: 100%;
    width: 100%;
}
.privacy_img{
    margin-top: 0;
    width: 90%;
    height: 80%;
  
}

h3{
    color: #c13c3c;
    font-size:35px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    animation: bottom_anim 3s infinite linear;
    width: 0px;
    text-wrap: nowrap;
    overflow: hidden;
}
.privacy_desc p{
    font-size:25px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
.privacy_img_div{
    width: 40%;
    height: 50%;
    animation: lock_img_animation 2s infinite;
   
    
}
.privacy_desc{
    width: 40%;
    
}
.privacy_desc h3{
   padding-top: 180px;
   

}
@keyframes lock_img_animation {
    10%{
        
        margin-top: 20%;
    }
    80%{
        margin-top:0;
    }
    100%{
        margin-top: 5%;

    }
    
}
@keyframes bottom_anim {
    80%{
        width: 100%;
    }
    100%{
        width: 100%;
    }
}

.contact{
    display: flex;
    justify-content: space-around;
    
    list-style-type: none;
}
 li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color:rgb(174, 174, 0)
}

.moreTools ul{
    text-align: center;
}
.moreTools {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.moreTools h4{
    border-right: 2px red solid;
    padding: 16px;
    padding-right: 30px;
}

.contact_div{
    padding-top: 20px;
}





.button1{
    display: inline-block;
    border-radius: 40px;
    background-color: rgb(51 110 161);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    vertical-align:middle;
    
  }
  
  .button1 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  @media (min-width: 500px) {
    .button1 span:after  {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      .button1:hover span {
        padding-right: 25px;
      }

      .head_div {
        padding-top:70px;
        height: 100%;
      }
      .head_div button {
        margin-top:15%;
        margin-left: 25%;
      }
  }
  
  

  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }





  @media (max-width:500px) {
    .content{
        display:block;
        
    
    }
    .img_div {
        width: 100%;
        padding-top:50px;
    }
    .description{
        width: 100%;
    }
    .head_div {
        width: 100%;
    }
    
    @keyframes text-Animation {
        
         25%{
            width: 10%;
         }
        75%{
            width: 100%;
        }
    }
    .custom-shape-divider-bottom-1714848548{
        display :none
    }
    .nav{
        display: block;
    }
    .wrapper2 .container {
        display: block;
        width: 90%;
        left: 0px;
        bottom: 3px;
    }
    .wrapper2 .container div {
        width: 100%;
    }
    .privacy_desc {
        width: 100%;
        padding: 8%;
    }
    .privacy_img_div {
        width: 100%;
    animation: none;
    height: 30%;}
    .privacy_img {
        height: 100%;
       padding-right: 25%;
       width: 100%;
    }
    .privacy_desc h3 {
        padding-top:0px;
        font-size: 15px;
        padding-left: 16%;
      
        
    }
    .privacy_desc p{
        display: none;;
    }
     .button1 {
        font-size:  12px;
        width:91px;
        padding: 10px;
        margin-left: 33%;
        margin-top: 25px;
        
        
    }
    .button1:hover span{
        right: 0;
      }
      
     
    }
    